/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  background: #f1f1f76b !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}

/* Navbar */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-image: linear-gradient(to right, #4e010a,#611745 25%,
  #775e8c, #b4b3de, #77a9d3);
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
} 

#mainNav .navbar-brand{
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 30px;
  color: white;
}

#mainNav .navbar-toggler {
  padding: 10px;
  color:  #4e010a;
}

#mainNav .navbar-nav > li > a {
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
}

#mainNav .navbar-nav > li > a.active,
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color:  #4e010a;
}

#mainNav button {
  border: none;
}

#mainNav i {
  color:  #4e010a;
}

#mainNav i:hover {
  color: #5e6c9b;
}

/* Hero section */
.jumbotron {
  background-image: url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;
  color:  #4e010a;
  margin-bottom: 0 !important;
}

.jumbotron h3 {
  margin-top: -30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
}

.sidebar i {
  color: white;
}

.sidebar i:hover {
  color:  #5e6c9b;
}


/* Styles for all sections */
.section {
  margin-top: 32px;
}

.section .border-3 {
  border-right: 3px solid #4e010a;
}

.section h2 {
  color:  #4e010a;
  text-align: end;
}

/* Work styles */

#work  img {
  width: 90%;
  max-height: 300px;
}

.accordion .card{
  background-color: #89b0e06f !important;
}

.accordion .card-body{
  background: #f1f1f7;
}

.card-header h2 button {
  color: #4e010a;
}

.card-header h2 button:hover,  .card-header h2 button:focus,
button {
  color: #5e6c9b;
  text-decoration: none;
  border: none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* Skills section styles */

/* About me section styles*/

/* Contact  section styles*/

#contact .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contact i {
  color:  #4e010a;
}

#contact i:hover {
  color:  #8aabd9;
}

/* Footer section */

footer {
  margin-top: 32px;
  margin-bottom: 32px;
  border-color: rgba(34, 34, 34, 0.05);
  background-image: linear-gradient(to right, #4e010a,#611745 25%,
  #775e8c, #b4b3de, #77a9d3);
  height: 50px;
}

footer p {
  padding: 15px;
}